.dateAndLocationContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.location {
    text-align: right;
    margin-right: 2rem;
    margin-bottom: -0.75rem;
}

.date {
    text-align: left;
    margin-left: 2rem;
    margin-bottom: -0.75rem;
}